<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.example.suggest.tests">
    <application>
        <activity android:name=".Suggest" android:label="@string/app_name">
           <intent-filter>
               <action android:name="android.intent.action.MAIN"/>
               <category android:name="android.intent.category.LAUNCHER"/>
           </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:label="Tests"
                     android:targetPackage="org.example.suggest"
                     android:name="android.test.InstrumentationTestRunner"/>

    <uses-sdk android:minSdkVersion="10"/>
</manifest>
